---
import Layout from '../layouts/layout.astro';
import Menu from '../components/menu.astro';
import List from '../components/mentees/list.astro'
import Directory from '../components/directory.astro'
---

<Layout title='Home'>
  <main class='flex flex-col w-screen h-auto p-0 md:p-20'>
    <Menu />
    <List />
    <Directory/>
  </main>
</Layout>
