---
---

<section
  class='shadow-lg mt-4 p-4 bg-white rounded md:rounded-lg w-full md:w-1/2 ml-auto mr-auto'
>
  <h2 class='text-center font-light text-md mb-4'>Directory</h2>
  <form>
    <label
      for='default-search'
      class='mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white'
      >Search</label
    >
    <div class='relative'>
      <div
        class='absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none'
      >
        <svg
          class='w-4 h-4 text-gray-500 dark:text-gray-400'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 20 20'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z'></path>
        </svg>
      </div>
      <input
        type='search'
        id='default-search'
        class='block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-sky-500 focus:border-sky-500'
        placeholder='Search people...'
        required
      />
      <button
        type='submit'
        class='text-white absolute right-2.5 bottom-2.5 bg-sky-700 hover:bg-sky-800 focus:ring-4 focus:outline-none focus:ring-sky-300 font-medium rounded-lg text-sm px-4 py-2 '
        >Search</button
      >
    </div>
  </form>
  <div
    class='w-full h-auto flex-wrap flex-row flex mt-4 gap-1 md:gap-3 justify-start'
  >
    <a href='/mentee/raul' class='basis-[49%] md:basis-[24%] shrink-0 h-full relative'>
      <div
        class='absolute z-10 top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-60% md:to-40% to-transparent'
      >
        <h3
          class='absolute z-10 bottom-0 right-0 mr-4 text-lg lg:text-4xl font-bold text-white'
        >
          Carlos
        </h3>
      </div>
      <img
        src='https://i.pravatar.cc/?img=2'
        class='object-cover w-full aspect-[1/1] rounded-lg'
        width="300"
        height="150"
      /></a
    >
    <a href='/mentee/raul' class='basis-[49%] md:basis-[24%] shrink-0 h-full relative'>
      <div
        class='absolute z-10 top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-60% md:to-40% to-transparent'
      >
        <h3
          class='absolute z-10 bottom-0 right-0 mr-4 text-lg lg:text-4xl font-bold text-white'
        >
          Raul
        </h3>
      </div>
      <img
        src='https://i.pravatar.cc/?img=4'
        class='object-cover w-full aspect-[1/1] rounded-lg'
        width="300"
        height="150"
      /></a
    >
    <a href='/mentee/raul' class='basis-[49%] md:basis-[24%] shrink-0 h-full relative'>
      <div
        class='absolute z-10 top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-60% md:to-40% to-transparent'
      >
        <h3
          class='absolute z-10 bottom-0 right-0 mr-4 text-lg lg:text-4xl font-bold text-white'
        >
          Raul
        </h3>
      </div>
      <img
        src='https://i.pravatar.cc/?img=1'
        class='object-cover w-full aspect-[1/1] rounded-lg'
        width="300"
        height="150"
      /></a
    >
    <a href='/mentee/raul' class='basis-[49%] md:basis-[24%] shrink-0 h-full relative'>
      <div
        class='absolute z-10 top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-60% md:to-40% to-transparent'
      >
        <h3
          class='absolute z-10 bottom-0 right-0 mr-4 text-lg lg:text-4xl font-bold text-white'
        >
          Raul
        </h3>
      </div>
      <img
        src='https://i.pravatar.cc/?img=6'
        class='object-cover w-full aspect-[1/1] rounded-lg'
        width="300"
        height="150"
      /></a
    >
    <a href='/mentee/raul' class='basis-[49%] md:basis-[24%] shrink-0 h-full relative'>
      <div
        class='absolute z-10 top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-60% md:to-40% to-transparent'
      >
        <h3
          class='absolute z-10 bottom-0 right-0 mr-4 text-lg lg:text-4xl font-bold text-white'
        >
          Raul
        </h3>
      </div>
      <img
        src='https://i.pravatar.cc/?img=11'
        class='object-cover w-full aspect-[1/1] rounded-lg'
        width="300"
        height="150"
      /></a
    >
    <a href='/mentee/raul' class='basis-[49%] md:basis-[24%] shrink-0 h-full relative'>
      <div
        class='absolute z-10 top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-60% md:to-40% to-transparent'
      >
        <h3
          class='absolute z-10 bottom-0 right-0 mr-4 text-lg lg:text-4xl font-bold text-white'
        >
          Raul
        </h3>
      </div>
      <img
        src='https://i.pravatar.cc/?img=12'
        class='object-cover w-full aspect-[1/1] rounded-lg'
        width="300"
        height="150"
      /></a
    >
  </div>
</section>
